body {
	margin: 5px;
	font-size: 18px;
	position: relative;
}
#login-buttons{
	right: 0px !important;
}
#fileInput
{
    display: none;
}
.docs td {
	text-align: center;
}

table {
	border-collapse: collapse;
}
tr:nth-child(even) td {
	background-color: #EEE;


}
th {
	background-color: black;
	color: white;

}

#login-buttons{
	position: relative;
	right: 0px !important;
	background-color: lightblue;
}

#login-dropdown-list {
position: absolute;
	right: -300px !important;
	background-color: lightblue;	
}